CipherCop/Processor/bin/Debug/net9.0/BnEGamesCipherCopProcessor.deps.json
CipherCop/Processor/bin/Debug/net9.0/BnEGamesCipherCopProcessor.dll
CipherCop/Processor/bin/Debug/net9.0/BnEGamesCipherCopProcessor.pdb
CipherCop/Processor/obj/Processor.csproj.nuget.dgspec.json
CipherCop/Processor/obj/Processor.csproj.nuget.g.props
CipherCop/Processor/obj/Processor.csproj.nuget.g.targets
CipherCop/Processor/obj/project.assets.json
CipherCop/Processor/obj/project.nuget.cache
CipherCop/Processor/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
CipherCop/Processor/obj/Debug/net9.0/BnEGamesCipherCopProcessor.dll
CipherCop/Processor/obj/Debug/net9.0/BnEGamesCipherCopProcessor.pdb
CipherCop/Processor/obj/Debug/net9.0/Processor.AssemblyInfo.cs
CipherCop/Processor/obj/Debug/net9.0/Processor.AssemblyInfoInputs.cache
CipherCop/Processor/obj/Debug/net9.0/Processor.assets.cache
CipherCop/Processor/obj/Debug/net9.0/Processor.csproj.AssemblyReference.cache
CipherCop/Processor/obj/Debug/net9.0/Processor.csproj.CoreCompileInputs.cache
CipherCop/Processor/obj/Debug/net9.0/Processor.csproj.FileListAbsolute.txt
CipherCop/Processor/obj/Debug/net9.0/Processor.GeneratedMSBuildEditorConfig.editorconfig
CipherCop/Processor/obj/Debug/net9.0/Processor.GlobalUsings.g.cs
CipherCop/Processor/obj/Debug/net9.0/Processor.sourcelink.json
CipherCop/Processor/obj/Debug/net9.0/ref/BnEGamesCipherCopProcessor.dll
CipherCop/Processor/obj/Debug/net9.0/refint/BnEGamesCipherCopProcessor.dll
CipherCop/Tests/bin/Debug/net9.0/BnEGamesCipherCopProcessor.dll
CipherCop/Tests/bin/Debug/net9.0/BnEGamesCipherCopProcessor.pdb
CipherCop/Tests/bin/Debug/net9.0/BnEGamesCipherCopTests.deps.json
CipherCop/Tests/bin/Debug/net9.0/BnEGamesCipherCopTests.dll
CipherCop/Tests/bin/Debug/net9.0/BnEGamesCipherCopTests.pdb
CipherCop/Tests/bin/Debug/net9.0/BnEGamesCipherCopTests.runtimeconfig.json
CipherCop/Tests/bin/Debug/net9.0/BnEGamesCop.dll
CipherCop/Tests/bin/Debug/net9.0/BnEGamesCop.pdb
CipherCop/Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CommunicationUtilities.dll
CipherCop/Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CoreUtilities.dll
CipherCop/Tests/bin/Debug/net9.0/Microsoft.TestPlatform.CrossPlatEngine.dll
CipherCop/Tests/bin/Debug/net9.0/Microsoft.TestPlatform.PlatformAbstractions.dll
CipherCop/Tests/bin/Debug/net9.0/Microsoft.TestPlatform.Utilities.dll
CipherCop/Tests/bin/Debug/net9.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
CipherCop/Tests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.Common.dll
CipherCop/Tests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
CipherCop/Tests/bin/Debug/net9.0/Newtonsoft.Json.dll
CipherCop/Tests/bin/Debug/net9.0/NuGet.Frameworks.dll
CipherCop/Tests/bin/Debug/net9.0/testhost.dll
CipherCop/Tests/bin/Debug/net9.0/testhost.exe
CipherCop/Tests/bin/Debug/net9.0/xunit.abstractions.dll
CipherCop/Tests/bin/Debug/net9.0/xunit.assert.dll
CipherCop/Tests/bin/Debug/net9.0/xunit.core.dll
CipherCop/Tests/bin/Debug/net9.0/xunit.execution.dotnet.dll
CipherCop/Tests/bin/Debug/net9.0/xunit.runner.reporters.netcoreapp10.dll
CipherCop/Tests/bin/Debug/net9.0/xunit.runner.utility.netcoreapp10.dll
CipherCop/Tests/bin/Debug/net9.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
CipherCop/Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/Payloads/CipherCopPlan.json
CipherCop/Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
CipherCop/Tests/bin/Debug/net9.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
CipherCop/Tests/obj/Debug/net9.0/BnEGamesCipherCopTests.dll
CipherCop/Tests/obj/Debug/net9.0/BnEGamesCipherCopTests.pdb
CipherCop/Tests/obj/Debug/net9.0/Tests.csproj.Up2Date
CipherCop/Tests/obj/Debug/net9.0/Tests.genruntimeconfig.cache
CipherCop/Tests/obj/Debug/net9.0/ref/BnEGamesCipherCopTests.dll
CipherCop/Tests/obj/Debug/net9.0/refint/BnEGamesCipherCopTests.dll
Cop/bin/Debug/net9.0/BnEGamesCop.dll
Cop/bin/Debug/net9.0/BnEGamesCop.pdb
Cop/obj/Debug/net9.0/BnEGamesCop.dll
Cop/obj/Debug/net9.0/BnEGamesCop.pdb
Cop/obj/Debug/net9.0/Cop.sourcelink.json
